<div class="grid grid-cols-[auto_400px]">
  <div class="flex flex-col grow h-full">
    <div>
      <button
        (click)="addTask()"
        mat-icon-button
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="overflow-y-auto m-3 p-2">
      <div *ngFor="let task of dailyTasks">
        <app-single-task [task]="task" />
      </div>
    </div>
    <div>{{ _taskService.animation$ | async }}</div>
  </div>
  <div>
    <router-outlet />
  </div>
</div>
