<div class="flex items-center justify-center">
  <mat-checkbox
    (change)="updateTaskState($event)"
    [checked]="task?.taskCompleted"
  ></mat-checkbox>
  <div class="flex items-center w-full">
    <mat-nav-list class="flex items-center w-full">
      <mat-list-item class="flex items-center w-full">
        <a class="flex items-center w-full" [routerLink]="[task?.taskId]">
          {{ task?.taskDescription }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div class="flex items-start">
    <button (click)="deleteTask()" mat-icon-button>
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</div>
